/* RGB */
// $color1: rgba(255, 87, 50, 1);
// $color2: rgba(91, 192, 235, 1);
// $color3: rgba(0, 16, 17, 1);
// $color4: rgba(9, 58, 62, 1);
// $color5: rgba(234, 196, 53, 1);


/* HEX */
$main: #ff5732;
$secondary: #5bc0eb;
$dark: #001011;
$third: #093a3e;
$fourth: #eac435;