<div class="card about">
  <img src="..." class="card-img-top" alt="Profile picture of user">
  <div class="card-body">
    <h5 class="card-title"><%= @user.email %></h5>
    <p class="card-text">About me</p>
  </div>
</div>