<div class="menu">
  <ul>
    <li class="active">
    <a href="/"><%= image_tag  "newfeed.png" %>Newsfeed</a>
    </li>
    <li>
    <a href="/"><%= image_tag  "message.png" %>Messages</a>
    </li>
    <li>
    <a href="/"><%= image_tag  "market.png" %>Marketplace</a>
    </li>
  </ul>
</div>
